name: Trigger auto deployment for weather-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/weather-api-AutoDeployTrigger-c2ca8d5b-b587-4f27-8b89-8089dbf232f4.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEATHERAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEATHERAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEATHERAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: arcforweatherapiweb.azurecr.io
          registryUsername: ${{ secrets.WEATHERAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WEATHERAPI_REGISTRY_PASSWORD }}
          containerAppName: weather-api
          resourceGroup: weather-rg
          imageToBuild: arcforweatherapiweb.azurecr.io/weather-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


